script#module-template(type="text/html")
  .module.expression
    .name(data-bind="text: name")
    .expressions
      // ko template: { name: 'expressions-template', data: expressions }
      ///ko

script#expressions-template(type="text/html")
    // ko foreach: $data
    //   ko template: { name: 'drop-horizontal-template', data: { type: 'expression', position: $index }}
    //  /ko
    //   ko template: { name: template }
    //  /ko
    ///ko
    // ko template: { name: 'drop-horizontal-template', data: { type: 'expression', position: $data.length }}
    ///ko

script#assignment-template(type="text/html")
  .assignment.expression(data-bind="with: assignment")
    .lvalue(data-bind="template: { name: lvalue().template, data: lvalue }")
    .op(data-bind="text: op")
    .rvalue(data-bind="template: { name: rvalue().template, data: rvalue }, style: { display: rvalue().template() === 'function-template' ? 'block' : 'inline-block' }")

script#var-template(type="text/html")
  .var.expression
    .keyword= 'var'
    // ko foreach: $data['var']
    .ref.expression
      .symbol.draggable(data-drop-target-types="['expression', 'function-name', 'defarg', 'callarg']")
        // ko template: { name: 'symbol-template', data: $data.def().ref }
        ///ko
    //   ko if: $data.init
    .op='='
    .rvalue(data-bind="template: { name: $data.init().template, data: $data.init }, style: { display: $data.init().template() === 'function-template' ? 'block' : 'inline-block' }")
    //  /ko
    ///ko

script#ref-template(type="text/html")
  .ref.expression(data-bind="with: ref")
    .symbol.draggable(data-drop-target-types="['expression', 'function-name', 'defarg', 'callarg']")
      // ko template: { name: 'symbol-template' }
      ///ko
    // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'ref-postfix' }}
    ///ko

script#call-template(type="text/html")
  .call.expression
    // ko template: { name: call().object().template, data: call().object }
    ///ko
    .args
      .expressions
        // ko template: { name: 'args-template', data: call().args }
        ///ko
      // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'call-postfix' }}
      ///ko

script#args-template(type="text/html")
  // ko foreach: $data
  //   ko template: { name: template }
  //  /ko
  //   ko template: { name: 'drop-vertical-template', data: { mode: 'before', type: 'callarg', position: $index }}
  //  /ko
  ///ko
  // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'callarg', position: $data.length }}
  ///ko

script#array-template(type="text/html")
  .array.expression
    // ko foreach: array().items
    //   ko template: { name: $data.template }
    //  /ko
    ///ko

script#sub-template(type="text/html")
  .sub.expression
    // ko template: { name: sub().object().template, data: sub().object }
    ///ko
    .key
      // ko template: { name: sub().key().template, data: sub().key }
      ///ko
      // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'sub-postfix' }}
      ///ko

script#prop-template(type="text/html")
  .prop.expression
    // ko template: { name: prop().object().template, data: prop().object }
    ///ko
    .op= '.'
    // ko template: { name: prop().key().template, data: prop().key }
    ///ko

script#literal-template(type="text/html")
  .literal.draggable.expression(data-bind="with: literal", data-drop-target-types="['expression','callarg']")
    // ko if: $data.editing
    input.editing(type="text", data-bind="value: value", autocorrect="off", autocapitalize="off")
    ///ko
    // ko if: value === ''
    div(data-bind="css: { class: type }")= '&nbsp;'
    .spacer
    ///ko
    // ko if: value !== ''
    div(data-bind="css: { class: type }, html: value")
    .spacer
    ///ko

script#if-template(type="text/html")
  .if.expression(data-bind="with: $data['if']")
    .keyword= 'if'
    // ko template: { name: condition().template, data: condition }
    ///ko
    .then(data-bind="template: { name: $data['then']().template, data: $data['then']().expressions }")
    // ko if: $data['else']
    div
      .keyword= 'else'
      .else(data-bind="template: { name: $data['else']().template, data: $data['else']().expressions }")
    ///ko

script#unary-template(type="text/html")
  .unary.expression(data-bind="with: unary")
    .op(data-bind="text: op")
    .operand(data-bind="template: { name: operand().template, data: operand }")

script#binary-template(type="text/html")
  .binary.expression(data-bind="with: binary")
    .left(data-bind="template: { name: left().template, data: left }")
    .op(data-bind="text: op")
    .right(data-bind="template: { name: right().template, data: right }")

script#ternary-template(type="text/html")
  .ternary.expression(data-bind="with: ternary")
      // ko template: { name: $data['if']().template, data: $data['if'] }
      ///ko
      span.then.op= '?'
      // ko template: { name: $data['then']().template, data: $data['then'] }
      ///ko
      span.else.op= ':'
      // ko template: { name: $data['else']().template, data: $data['else'] }
      ///ko

script#parens-template(type="text/html")
  .parens.expression(data-bind="with: parens")
    // ko template: { name: template }
    ///ko
    // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'paren-postfix' }}
    ///ko

script#hash-template(type="text/html")
  .hash.expression(data-bind="foreach: hash().entries")
    .entry
      .key
        // ko template: { name: key().template, data: key }
        ///ko
      span.op= ':'
      // ko template: { name: value().template, data: value }
      ///ko

script#function-template(type="text/html")
  .function.expression(data-bind="with: $data['function']")
    .keyword= 'function'
    // ko if: !ref().name()
    //   ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'function-name' }}
    //  /ko
    ///ko
    .collapse.expanded
    // ko if: ref().name() || ref().editing()
    .symbol.draggable(data-drop-target-types="['expression', 'function-name', 'defarg', 'callarg']")
      // ko template: { name: 'symbol-template', data: ref }
      ///ko
    ///ko
    .args
      // ko foreach: args
      .symbol.draggable(data-drop-target-types="['expression', 'function-name', 'defarg', 'callarg']")
        // ko template: { name: 'symbol-template' }
        ///ko
      //   ko template: { name: 'drop-vertical-template', data: { mode: 'before', type: 'defarg', position: $index }}
      //  /ko
      ///ko
      // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'defarg', position: args().length }}
      ///ko
    .collapsible.expanded.expressions
      // ko template: { name: 'expressions-template', data: expressions }
      ///ko

script#return-template(type="text/html")
  .return.expression(data-bind="with: $data['return']")
    .keyword= 'return'
    // ko template: { name: template }
    ///ko

script#new-template(type="text/html")
  .new.expression(data-bind="with: $data['new']")
    .keyword= 'new'
    // ko template: { name: template }
    ///ko
    // ko template: { name: 'drop-vertical-template', data: { mode: 'after', type: 'new-postfix' }}
    ///ko

script#symbol-template(type="text/html")
  // ko if: $data.editing
  input.editing(type="text", data-bind="value: name", autocorrect="off", autocapitalize="off")
  ///ko
  span(data-bind="text: name")
  .spacer

script#this-template(type="text/html")
  .keyword= 'this'

script#drop-horizontal-template(type="text/html")
  .droppable.horizontal(data-bind="attr: { 'data-drop-type': type, 'data-drop-position': $data.position }")

script#drop-vertical-template(type="text/html")
  .droppable.vertical(data-bind="attr: { 'data-drop-type': type, 'data-drop-position': $data.position, 'data-drop-mode': $data.mode }")

script#empty-template(type="text/html")
  .empty