doctype html
html
  head
    link(href="css/themes/gray.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body
    include templates/expressions
    include templates/palette

    select.themepick(data-bind="foreach: themes")
      option.theme(data-bind="text: $data")

    .editor(data-bind="template: { name: 'module-template', data: module }", unselectable="on", onselectstart="return false;")

    .palette(unselectable='on', onselectstart='return false;')  
      .mode(data-palette-behavior="mode")= 'copy'
      .action(data-palette-behavior="action")= 'ins'
      .draggable.new-keyword(data-palette-behavior="keyword", data-drop-target-types='["expression", "callarg", "if-postfix", "else-postfix", "switch-case", "try-catch", "try-finally", "binary-operator" ]')= 'key'
      .draggable.new-function(data-expression-type="function", data-drop-target-types='["expression", "callarg"]')= 'func'
      .draggable.new-symbol(data-expression-type="ref", data-drop-target-types='["expression", "function-name", "defarg", "callarg"]')= 'sym'
      .draggable.new-literal(data-palette-behavior="literal", data-expression-type="literal" data-drop-target-types='["expression", "callarg"]')= 'lit'
      .draggable.new-operator(data-palette-behavior="operator")= 'op'
      .delete= 'del'

    .palette-menu(data-bind="template: { name: 'palette-menu' }")

  script(src="js/lib/visibility.js")
  script(src="js/lib/jquery-2.1.0.min.js")
  script(src="js/lib/jquery-ui-1.10.4.custom.min.js")
  script(src="js/lib/jquery.ui.touch-punch.min.js")
  script(src="js/lib/jquery.ui.touch-closest-to-cursor-punch.js")
  script(src="js/lib/jquery.mobile-events.min.js")
  script(src="js/lib/lodash.min.js")
  script(src="js/lib/knockout-3.0.0.debug.js")
  script(src="js/lib/peg-0.8.0.min.js")
  script(src="js/editor.js")
  script(src="js/expressions.js")
  script(src="js/dragdrop.js")
  script(src="js/palette.js")
  script(src="js/parser.js")
